*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

.contentContainer {
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    align-content: center;
    background-color: rgb(235, 235, 137,);
    
    
    
}

.content_card {
    background-color: rgb(228, 211, 244);
    border: 2px solid rgb(170, 116, 221);
    border-radius: 5px;
    width: 100%;
    height: 40vh;
}

.popUpContainer {
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popUpBody {
    width: 50%;
    height: 40%;
    background-color: rgb(254, 254, 112);
    margin: auto;
}

.popUpCard {
    display: flex;
}

.contenedorButton {
    height: 15%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.nameImgEspecialidad {
    height: 80%;
    width: 100%;
}

.buttonVerMas {
    border: solid rgb(119, 119, 26);
    background-color: rgb(242, 242, 146);
    width: 120px;
    height: 90px;
    border-radius: 20px;
}

.imgDeportistas {
    width: 50% ;
    height: 70%;
}

.presentacion {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 30% 70%; 
    grid-template-areas: 
    "img rest"
    "desc desc"
}

.descripcion {
    width: 50%;
    height: 50%;
}

.estadisticas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    font-size: 1rem;
    width: 50%;
    height: 100%;
}

.show {
   display: block;
}
.hidden {
    display: none;

}

#popUpNombre{
    font-size: 32px;
    font-weight: 600;

}

.popUpStat{
    text-align:left;
    margin-left: 30px;
}

#rest{
    grid-area: rest;
}

#divDesc{
    grid-area: desc;
}

#imgDeportistasPopUp{
    grid-area: img;
    width: 100%;
    height: 100%;
}

#listaEstadisticas{
    background-color: beige;
    margin: 10px;
    width: 90%;
    height: 90%;
    border-style:solid;
}

.listItemEstadisticas{
    padding-top: 10px;
    border-bottom: solid;
    width: 350px;
    margin:auto;
}

.divStatBarra{
    border-radius:3px;
    width: 35px;
    height:15px;
    background-color:black;
}
.searching {
    font-size: 1.5rem;
    border: solid 1px rgb(170, 116, 221) ; 
    background-color:rgb(228, 211, 244); ;
    width: 350px;
    height: 40px;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.botonsito {
    margin-left: 20px;
    background-color: yelloy;
    width: 170px;
    border: solid rgb(119, 119, 26);
    background-color: rgb(242, 242, 146);
    border-radius: 16px;
    height: 30px;

    
}